.container-btn-top{
    display: flex;
    justify-content: end;
    position: fixed;
    top: 715px;
    right: 35px;
    z-index: 1001;
    text-decoration: none;
    width: fit-content;
    border-radius: 12px;
    background-color: var(--black-secondary);
}
.bg-btn-top{
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background-color:  var(--black-primary);
    display: flex;
    align-items: center;
    flex-direction: column;

}
.lt-btn-top{
    font-size: 12px;
}
.btn-top-position{
    display: flex;
    justify-content: end;
    position: fixed;
    top: 715px;
    right: 35px;
    z-index: 1001;
    text-decoration: none;
}