@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

:root {
  --nude: #D5AA7F;
  --black: #000;
  --black-primary: #1E1E1E;
  --black-secondary: #2D2928;
  --white: #FFF;
  --brown: #4B2804;
  --grey: #757575;
  --grey-secondary: #EDEDED;
  --grey-third: #D9D9D9;
}
#root{
  min-width: 1300px;
}

*{
  color: #fff;
  font-family: "Noto Sans Thai", sans-serif;
}

.test{
  text-decoration: none;
}

